<app-card-modal *ngIf="isExpanded" (closed)="expandClosed()" [isMobileDevice]="isMobileDevice" headerClass="bg-green-80" headerText="Leave">
  <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
</app-card-modal>

<app-card [canExpand]="!isMobileDevice" (expanded)="toggleExpand()" [isMobileDevice]="isMobileDevice" headerClass="bg-green-80" headerText="Leave">
  <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
</app-card>

<ng-template #contentTemplate>
  <div class="my-2">
    <ng-container *ngFor="let notification of notifications">
      <ngb-alert class="my-3" [type]="notification.alertClass" [dismissible]="false">
        <i [className]="notification.iconClass"></i> {{notification.content}}
      </ngb-alert>
    </ng-container>
    <ng-container *ngIf="!hasLeaves">
      <ngb-alert class="my-3" [type]="'info'" [dismissible]="false">
        <i class="fa fa-exclamation-circle"></i> {{noDataMessage}}
      </ngb-alert>
    </ng-container>
    <ng-container *ngIf="hasLeaves">
      <ng-container *ngIf="!hasFilteredLeaves">
        <ngb-alert class="my-3" [type]="'info'" [dismissible]="false">
          <i class="fa fa-filter"></i> {{filterNoHitsMessage}}
        </ngb-alert>
      </ng-container>
      <ng-container *ngIf="hasFilteredLeaves">
        <div *ngFor="let item of filteredLeaves" class="row no-gutters my-1">
          <div class="col-1"><i [ngClass]="getIcon(item)"></i></div>
          <div class="col text-truncate">
            <div class="text-truncate">{{item.content}}</div>
            <div class="small text-truncate">{{item.type}}</div>
          </div>
          <div class="col-auto">{{item.start | date: 'dd MMM yy'}} - {{item.end | date: 'dd MMM yy'}}</div>
        </div>
      </ng-container>
    </ng-container>
    <a *ngFor="let item of links" [attr.href]="item.url" [attr.target]="item.target" class="btn btn-primary btn-sm btn-block">{{item.text}}</a>
  </div>
</ng-template>
